@using Core.Application.Models;
@using Core.Domain;

@{
    AuthenticatedUser authenticatedUser = Session["AuthenticatedUser"] as AuthenticatedUser;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Employee Training Management</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css">
    <link rel="stylesheet" href="~/Content/customcss/overlay.css" />
    <link rel="stylesheet" href="~/Content/customcss/toastrNotification.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("css", required: false)
</head>
<body>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark">
        <div class="container">
            <span class="navbar-brand">HMKCC</span>
            <button type="button" class="navbar-toggler" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" title="Toggle navigation" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-sm-inline-flex justify-content-between">
                <ul class="navbar-nav">
                    @if (authenticatedUser != null)
                    {
                        <li>@Html.ActionLink("Trainings", "Index", "Training", new { area = "" }, new { @class = "nav-link" })</li>
                        if (!authenticatedUser.IsInRole(AccountTypeEnum.Admin))
                        {
                            <li>@Html.ActionLink("Enrollments", "Index", "Enrollment", new { area = "" }, new { @class = "nav-link" })</li>
                        }
                        <li>@Html.ActionLink("Notifications", "Index", "Notification", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
                <ul class="navbar-nav">
                    @if (authenticatedUser is null)
                    {
                        <li>@Html.ActionLink("Login", "Login", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                        <li>@Html.ActionLink("Register", "Register", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                    else
                    {
                        <li class="nav-link text-white">@authenticatedUser.AccountType.ToString().ToUpper()</li>
                        <li class="nav-link text-white">Hi, @authenticatedUser.FirstName!</li>
                        <li>@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</li>
                    }
                </ul>
            </div>
        </div>
    </nav>
    <div class="container body-content flex-column align-items-center">
        @RenderBody()
        <hr />
    </div>

    <div id="overlay">
        <div id="spinnerContainer">
            <div class="spinner-border text-primary spinner-btn" role="status">
                <span class="visually-hidden">Please wait...</span>
            </div>
        </div>
    </div>


    <script type="text/JavaScript"
            src="https://cdn.jsdelivr.net/npm/lodash@4.17.20/lodash.min.js">
    </script>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")

    <script type="text/JavaScript"
            src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js">
    </script>
    <script type="text/JavaScript"
            src="~/Scripts/JavaScript/overlay.js">
    </script>
    <script type="text/JavaScript"
            src="~/Scripts/JavaScript/toastrNotification.js">
    </script>

    @RenderSection("scripts", required: false)
</body>
</html>
